section.section_indent
  .container.bg-color-blue
    ul.horizontal-menu
      li
        a(href="#")
          = 'Оборудование'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Волосы'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Лицо'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Тело'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Ногти'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Брови и ресницы'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Инструменты'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Акссесуары'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Расходные материалы'
          +svgMono('arrowBottom')
      li
        a(href="#")
          = 'Азия'
          +svgMono('arrowBottom')

  .container-relative
    .menu-all-catalog
      .menu-all-catalog__catalog-menu
        ul
          li Окрашивание и тонирование
          li
            a(href="#") Для окрашенных волос
          li
            a(href="#") От выпадания
          li
            a(href="#") Восстановление и сохранение здоровья волос
          li
            a(href="#") Стайлинг
        ul
          li Окрашивание и тонирование
          li
            a(href="#") Для окрашенных волос
          li
            a(href="#") От выпадания
          li
            a(href="#") Восстановление и сохранение здоровья волос
          li
            a(href="#") Стайлинг
        ul
          li Окрашивание и тонирование
          li
            a(href="#") Для окрашенных волос
          li
            a(href="#") От выпадания
          li
            a(href="#") Восстановление и сохранение здоровья волос
          li
            a(href="#") Стайлинг
        ul
          li Окрашивание и тонирование
          li
            a(href="#") Для окрашенных волос
          li
            a(href="#") От выпадания
          li
            a(href="#") Восстановление и сохранение здоровья волос
          li
            a(href="#") Стайлинг
        ul
          li Окрашивание и тонирование
          li
            a(href="#") Для окрашенных волос
          li
            a(href="#") От выпадания
          li
            a(href="#") Восстановление и сохранение здоровья волос
          li
            a(href="#") Стайлинг
      .menu-all-catalog__brend-menu
        ul
          li Бренды
          li
            a(href="#") Aravia Professional
          li
            a(href="#") Aveda
          li
            a(href="#") Farm Stay
          li
            a(href="#") Yoghurt of Bulgaria

section.section_indent
  .container
    .container_wrap
      .slider-wrap
        .swiper-container.main-slider-block(main-slider)
          .swiper-wrapper
            .swiper-slide.main-slider-block__slide
              img.main-slider-block__img(src="img/main-slider-img1.jpg", alt="")
              .main-slider-block__mask
                h2
                  = 'Наборы косметики '
                  span.text-orange Bioderma 
                  = 'за полцены'
                  br
                  = 'только до 25 декабря'
                p
                  = 'Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной'
                  br
                  = 'информации и становимся профессионалами в этой области.'
                .wrap-btn
                  a(href="#").simple-button Собрать свой набор
            .swiper-slide.main-slider-block__slide
              img.main-slider-block__img(src="img/main-slider-img1.jpg", alt="")
              .main-slider-block__mask
                h2
                  = 'Наборы косметики '
                  span.text-orange Bioderma 
                  = 'за полцены'
                  br
                  = 'только до 25 декабря'
                p
                  = 'Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной'
                  br
                  = 'информации и становимся профессионалами в этой области.'
                .wrap-btn
                  a(href="#").simple-button Собрать свой набор
            .swiper-slide.main-slider-block__slide
              img.main-slider-block__img(src="img/main-slider-img1.jpg", alt="")
              .main-slider-block__mask
                h2
                  = 'Наборы косметики '
                  span.text-orange Bioderma 
                  = 'за полцены'
                  br
                  = 'только до 25 декабря'
                p
                  = 'Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной'
                  br
                  = 'информации и становимся профессионалами в этой области.'
                .wrap-btn
                  a(href="#").simple-button Собрать свой набор
          .swiper-pagination
        .swiper-button-prev
          +svgMono('arrowBottom')
        .swiper-button-next
          +svgMono('arrowBottom')

      .product-day
        span 123

