@media (max-width: 1439px)
  .horizontal-menu .hidden-1439
    display: none
  .hidden-1439
    display: none
  .menu-all-catalog__catalog-menu ul
    width: calc(100% / 3)
  .menu-all-catalog__catalog-menu ul, .menu-all-catalog__brend-menu ul
    margin-bottom: 35px
  .wrap-slider-product-grid
    grid-template-columns: repeat(4, 244px)
  .block-info-list__text
    br
      display: none
  .block-info-list__item
    width: 255px
  .categories-grid
    grid-template-columns: repeat(2, 1fr)

@media (max-width: 1200px)
  .slider-wrap_indent
    margin-right: 0
  .block-info-list__item
    flex-direction: column
    align-items: flex-start
    width: 210px
  .block-info-list__ico_indent
    margin-right: 0
    margin-bottom: 10px
  .block-info-list__ico
    display: flex
  .main-slider-block__mask h2, .main-slider-block__mask p
    br
      display: none

@media (max-width: 992px)
  .categories-grid__img
    width: 140px

@media (max-width: 768px)
  .main-slider-block
    height: 257px
    border-radius: 4px
  .main-slider-block__mask
    padding: 40px 20px
  .main-slider-block__mask p
    display: none
  .main-slider-block__mask h2
    font-size: 22px
  .swiper-pagination
    bottom: 40px
    left: 20px
  .swiper-pagination-bullet:after
    border-width: 1px
  .hidden-768
    display: none
  .h2-title
    font-size: 22px
  .categories-grid
    display: flex
    flex-wrap: wrap
  .categories-grid__category
    align-items: center
    height: auto
    padding: 10px
  .categories-grid__img
    width: 68px
    height: 68px
  .categories-grid__wrap-text
    padding: 0 10px
  .categories-grid__quantity
    display: none
  .btn-transparent_mobile-all-w
    width: 100%
    padding-left: 0
    padding-right: 0
    text-align: center
    justify-content: center
  .block-main-tags__tag
    padding: 5px 15px
  .block-slider-stock
    width: 380px
    height: 192px
  .block-slider-stock__wrap-text
    position: absolute
    padding: 0 40px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .block-slider-stock__mask
    background: rgba(#000,.4)
  .block-slider-special-offers
    position: relative
    width: 380px
    height: 192px
  .block-slider-special-offers__wrap-text
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(#000,.4)
  .block-slider-special-offers__text
    color: #fff
  .block-slider-special-offers__time
    color: #EDBA36
  .categories-grid__name
    font-size: 14px
  .block-slider-stock__wrap-text
    padding: 0 40px
    bottom: auto
  .block-slider-stock__text
    display: block

@media (max-width: 480px)
  .main-slider-block
    height: 290px
  .swiper-pagination
    bottom: 30px
  .block-slider-special-offers
    width: 100%
    height: 218px
  .block-slider-stock
    width: 100%
    height: 218px