// titles
.h1-title
  font-size: 72px
  font-weight: 700
  line-height: 1
  letter-spacing: em(-1.22, 72)

.h2-title
  font-size: 32px
  font-weight: 400
  line-height: normal
  margin: 0

.h3-title
  font-size: 28px
  letter-spacing: em(-0.17, 28)
  font-weight: 700

// paragraphs
.main-text
  font-size: 14px

.small-text
  font-size: 13px

+r($lg)
  .h1-title
    font-size: 46px

+r($sm)
  .h1-title
    font-size: 36px


// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900
