---
title: Order-successfully-issued title
outClass: order-successfully-issued
---
extends shared/_layout
block content

  include ../components/order-successfully-issued/_order-successfully-issued.pug