include ../horizontalMenu/_menu

section.section_indent-small.section_negative-position-t20
  .container
    .progress-basket
      .progress-basket__item.progress-basket__item_active Ваша корзина
      .progress-basket__item Оформление заказа
      .progress-basket__item Подтверждение заказа и оплата

// H1 TITLE
section.section_indent
  .container
    h1.h1-title Ваша корзина

mixin yourCartProduct(name, image, price)
  .your-cart__product.your-cart__product_indent
    .your-cart__row.your-cart__row_bd
      .your-cart__img
        img(src="img/"+image+"", alt="")
      .your-cart__wrap-text
        a(href="#").link-text.your-cart__title.your-cart__title_indent!= name
        span.your-cart__vendor-code.your-cart__vendor-code_indent Артикул: 34M20V-01
        span.your-cart__price!= price
      .your-cart__wrap-quantity
        .your-cart__quantity-prev.link-text
          +svgMono('minus')
        .your-cart__quantity 1
        .your-cart__quantity-next.link-text
          +svgMono('plus')
    .your-cart__row.your-cart__space-between
      .your-cart__col
        a(href="#").link-text.your-cart__delete.your-cart__delete_indent
          +svgMono('delete')
          = 'Удалить'
        a(href="#").link-text.your-cart__compare
          +svgMono('comparison')
          = 'Сравнить'
      .your-cart__col
        span.your-cart__amount
          = 'Сумма: '
          span.your-cart__amount-price 2 310 руб.

section.section_indent
  .container
    .wrap-basket
      .wrap-basket__left.wrap-basket__left_indent
        .your-cart
          +yourCartProduct("Men Pure-formance Men's Aftershave", "images1.jpg", "870 руб.")
          +yourCartProduct("Men Pure-formance Men's Aftershave", "images2.jpg", "920 руб.")
          +yourCartProduct("Men Pure-formance Men's Aftershave", "images1.jpg", "870 руб.")

      .wrap-basket__righr
        .checkout-info
          .checkout-info__row.checkout-info__row_indent
            .checkout-info__name-big.checkout-info__name-big_indent Сумма заказа:
            .checkout-info__price 6 360 руб.
          .checkout-info__row.checkout-info__row_indent
            .checkout-info__wrap.checkout-info__wrap_indent
              .checkout-info__wrap-hint
                +svgMono('questionMark')
              .checkout-info__wrap-text
                .checkout-info__name Доставка по Воронежу:
                .checkout-info__text Бесплатно
          .checkout-info__row.checkout-info__row_indent
            .checkout-info__wrap.checkout-info__wrap_indent
              .checkout-info__wrap-text
                .checkout-info__name Всего товаров:
                .checkout-info__text 3 шт.
          .checkout-info__row.checkout-info__row_indent
            .checkout-info__wrap.checkout-info__wrap_indent
              .checkout-info__wrap-hint
                +svgMono('questionMark')
                .checkout-info__hint
                  = 'Бонусы начисляются согласно '
                  a(href="#") правилам бонусной программы
              .checkout-info__wrap-text
                .checkout-info__name Бонусные баллы:
                .checkout-info__text.checkout-info__green + 173 балла
          .checkout-info__row.checkout-info__row_indent
            a(href="#").btn-form.checkout-info__all-w Оформить заказ
          .checkout-info__row
            input(type="text", placeholder="Промокод").checkout-info__promo-code.checkout-info__promo-code_indent
            span.checkout-info__text-small
              = 'Вы можете воспользоваться промокодом для получения скидки. Пожалуйста, ознакомьтесь с '
              a(href="#").checkout-info__link правилами применения промокодов.