// HEADER

.header_padding-bottom
  padding-bottom: 40px

.header-wrap
  display: flex
  flex-direction: column

.border-bottom
  border-bottom: 1px solid #ECECEC

.top-menu
  display: flex
  align-items: center
  justify-content: space-between
  &_indent
    padding: 20px 0
  &__delivery
    display: flex
    align-items: center

.ico-mono-delivery
  margin-right: 10px
  width: 16px
  height: 16px

.header-small-menu
  padding: 0
  margin: 0
  li
    margin-right: 60px
    &:last-child
      margin-right: 0
    a
      font-size: 14px
      transition: $transitionSpeed
      &:hover
        color: $colorHoverLink

.center-menu
  display: flex
  align-items: center
  justify-content: space-between
  &_indent
    padding: 40px 0

.center-menu-left
  display: flex
  align-items: center
  &__item
    margin-right: 48px
    &:last-child
      margin-right: 0

.header-block-logo
  display: flex

.menu-center-link
  display: flex
  align-items: center
  width: 224px
  &:hover
    .menu-center-link__ico
      background-color: $colorLightBlue
  &__ico
    position: relative
    display: flex
    align-items: center
    justify-content: center
    margin-right: 20px
    width: 48px
    height: 48px
    border-radius: 50%
    border: 2px solid $colorLightBlue
    transition: $transitionSpeed
    svg
      width: 18px
      height: 18px
  &__numb
    position: absolute
    top: 0
    left: 100%
    transform: translate(-50%, 0)
    display: flex
    align-items: center
    justify-content: center
    width: 22px
    height: 22px
    border-radius: 50%
    font-weight: 600
    font-size: 12px
    color: #fff
    background-color: $colorGreen
  &__text
    &_indent-bottom
      margin-bottom: 5px

.center-menu-right
  display: flex
  &__item
    margin-right: 40px
    &:last-child
      margin-right: 0

.bottom-menu
  display: flex
  justify-content: space-between
  height: 48px

.btn-open-full-catalog
  display: flex
  align-items: center
  justify-content: center
  width: 244px
  background-color: $colorGreen
  border-radius: 4px
  transition: $transitionSpeed
  &:hover
    background-color: $colorLightGreen
    .btn-open-full-catalog__text
      transform: translate(0, -4px)
  &__text
    transition: $transitionSpeed
    font-weight: 600
    font-size: 14px
    letter-spacing: 0.02em
    color: #fff
  &_active
    background-color: $colorLightGreen
    .btn-open-full-catalog-burger
      &__line
        &:nth-child(1)
          width: 50%
        &:nth-child(2)
          width: 75%
    .btn-open-full-catalog__text
      transform: translate(0, -4px)
    &:hover
      background-color: $colorLightGreen

.btn-open-full-catalog-burger
  position: relative
  width: 16px
  height: 12px
  &_indent
    margin-right: 12px
  &__line
    position: absolute
    width: 100%
    height: 1.33px
    left: 0
    background-color: #fff
    transition: $transitionSpeed
    &:nth-child(1)
      top: 0
      transform: translate(0, 0)
    &:nth-child(2)
      top: 50%
      transform: translate(0, -50%)
    &:nth-child(3)
      top: 100%
      transform: translate(0, -100%)

.search-form
  display: flex
  &_indent
    flex-grow: 1
    margin: 0 40px
  &__block-input
    position: relative
    display: flex
    width: 100%
  &__inpuut
    width: 100%
    border: 2px solid $colorLightBlue
    border-radius: 4px 0 0 4px
    border-right: none
    padding: 0 55px 0 20px
    transition: $transitionSpeed
    &:focus
      border-color: $colorTurquoise
  &__button
    display: flex
    align-items: center
    justify-content: center
    width: 105px
    border-radius: 0 4px 4px 0
    background-color: $colorTurquoise
    flex-shrink: 0
    padding: 0
    color: #fff
    font-size: 14px
    letter-spacing: 0.02em
    font-weight: 600
    transition: $transitionSpeed
    svg
      margin-right: 5px
    &:hover
      background-color: $colorLightTurquoise
  &__close
    position: absolute
    visibility: hidden
    opacity: 0
    display: flex
    top: 50%
    color: #A9A9A9
    cursor: pointer
    left: calc(100% - 20px)
    transform: translate(-100%, -50%)
    transition: $transitionSpeed
    &:hover
      color: #26A1AD
    &_active
      opacity: 1
      visibility: visible

.block-login
  display: flex
  align-items: center
  &_indent
    margin-right: 70px
  &__entrance
    display: flex
    align-items: center
    svg
      width: 18px
      height: 18px
      margin-right: 5px
  &__separator
    width: 1px
    height: 21px
    background-color: #E9F1F2
    &_indent
      margin: 0 20px

.search-options
  position: absolute
  opacity: 0
  visibility: hidden
  z-index: 10
  top: 100%
  left: 0
  overflow: hidden
  border-radius: 0 0 6px 6px
  width: 100%
  background-color: #fff
  box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.25)
  transition: $transitionSpeed
  &_active
    opacity: 1
    visibility: visible
  ul
    width: 100%
    margin: 0
    padding: 0
    li
      width: 100%
      a
        display: flex
        align-items: center
        width: 100%
        padding: 20px
        border-bottom: 1px solid #F0F7F7
        transition: $transitionSpeed
        &:hover
          background-color: #F0F7F7
  &__img
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 40px
    height: 40px
    img
      max-width: 100%
      max-height: 100%
    &_indent
      margin-right: 20px
  &__name
    font-size: 16px
    &_indent
      margin-bottom: 5px
  &__price
    font-weight: 600
  &__wrap-text
    width: 100%
  &__wrap-all-product
    padding: 20px
  &__all-product-text
    color: #B7B7B7
  &__btn-all
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    background-color: #26A1AD
    color: #fff
    letter-spacing: 0.02em
    height: 46px

.wrap-menu-full-catalog
  position: relative
  display: flex

.menu-full-catalog
  position: absolute
  opacity: 1
  visibility: visible
  overflow: hidden
  z-index: 10
  top: 100%
  left: 0
  width: 290px
  background-color: #fff
  box-shadow: 20px 20px 54px rgba(218, 218, 218, 0.25)
  transition: $transitionSpeed
  &_hidden
    opacity: 0
    visibility: hidden
  &__head
    position: relative
    display: flex
    align-items: center
    padding-left: 40px
    height: 70px
    width: 100%
    border-bottom: 1px solid #ECECEC
  &__title
    position: relative
    opacity: 1
    visibility: visible
    font-size: 22px
    transition: $transitionSpeed
  &__btn-close
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 50%
    width: 50px
    height: 50px
    color: #B7B7B7
    padding: 0
    background: none
    left: calc(100% - 24px)
    transform: translate(-100%, -50%)
    transition: $transitionSpeed
    &:hover
      color: #26A1AD
    svg
      width: 18px
      height: 18px
  &__hidden
    position: absolute
    opacity: 0
    visibility: hidden
  &__main
    position: relative
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    transition: $transitionSpeed
    li
      display: flex
      width: 100%
      background-color: #fff
      transition: $transitionSpeed
      a
        position: relative
        padding: 20px 50px 20px 40px
        width: 100%
        font-size: 16px
        line-height: 19px
        font-weight: 600
        transition: $transitionSpeed
        svg
          position: absolute
          width: 9px
          height: 5px
          top: 50%
          left: calc(100% - 40px)
          transform: translate(-100%, -50%) rotate(-90deg)
          position: absolute
        &:hover
          background-color: #F3F8F8
          color: #26A1AD
    ul
      position: absolute
      visibility: hidden
      opacity: 0
      width: 100%
      display: flex
      flex-wrap: wrap
      margin: 0
      padding: 0
      top: 0
      left: 0
      transform: translate(100%, 0)
      transition: $transitionSpeed
    &_passive
      position: absolute !important
      transform: translate(-100%, 0) !important
    &_active
      visibility: visible !important
      opacity: 1 !important