.ico-mono-addBasket {
  width: 0.89em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrowBottom {
  width: 1.67em;
  height: 1em;
  fill: #323232;
}
.ico-mono-basket {
  width: 0.89em;
  height: 1em;
  fill: #323232;
}
.ico-mono-call {
  width: 1em;
  height: 1em;
  fill: #323232;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #A9A9A9;
}
.ico-mono-comparison {
  width: 1em;
  height: 1em;
  fill: #323232;
}
.ico-mono-delivery {
  width: 1em;
  height: 1em;
  fill: #323232;
}
.ico-mono-grid {
  width: 1em;
  height: 1em;
  fill: #26A1AD;
}
.ico-mono-hardly {
  width: 1.17em;
  height: 1em;
  fill: #323232;
}
.ico-mono-questionMark {
  width: 1em;
  height: 1em;
  fill: #39B993;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-user {
  width: 1em;
  height: 1em;
  fill: #323232;
}
