.ico-color-boxTime {
  width: 1em;
  height: 1em;
}
.ico-color-cream {
  width: 1em;
  height: 1em;
}
.ico-color-discount {
  width: 1em;
  height: 1em;
}
.ico-color-listStar {
  width: 1em;
  height: 1em;
}
